<div class="sidebar">
    <div class="sidebar-content">
        <div class="sidebar-content-item">
            <!-- <h3>A <strong>Designer</strong> who uses <strong>creative technology</strong> and -->
        </div>
        <div class="sidebar-content-item">
            <a href="#interTabs">interTabs</a>
            <a href="#mbtiIdealPartner">MBTI Ideal Partner</a>
            <a href="#paletteU">Palette U</a>
            <!-- <a href="#games">Games</a> -->
            <a href="#albertPlus">Albert Plus</a>
            <a href="#globalDeltaSecurities">Global Delta Securities</a>
            <a href="#sweetdreams4all">Sweet Dreams 4 All</a>
            
            <p class="header-title">PROJECTS</p>

        </div>
    </div>
</div>