<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Carol</title>
    <link rel="icon" type="image/png" href="/assets/images/main/logo.svg">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <%- include('components/header.ejs') %>
        <div class="main-content">
            <div class="content">
                <h1>Hiii I'm Carol :)</h1>

                <section class="head-section">
                    <div>
                        <div class="head-item-image-container">
                            <img class="head-item-image" src="/assets/images/about/profile.jpeg" alt="Carol Yu">
                            <h1>Carol Yu</h1>
                            <h3>Product Designer + Creative Technologist</h3>
                            <br>
                            <div class="head-social-icons">
                                <a href="https://www.linkedin.com/in/hanfei-carol-yu/" class="social-icon"
                                    aria-label="LinkedIn">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
                                            fill="currentColor" />
                                    </svg>
                                </a>
                                <a href="https://www.instagram.com/carollyuuu/" class="social-icon" aria-label="Instagram">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"
                                            fill="currentColor" />
                                    </svg>
                                </a>
                            </div>
    
                            <a href="mailto:CAROL.YU@NYU.EDU" class="head-email">
                                <h1>CAROL.YU@NYU.EDU</h1>
                            </a>
                        </div>
                        
                        <!-- <p>More About Me </p>
                        <div class="head-buttons">
                            <button onclick="scrollToSection('#skills')">Skills</button>
                            <button onclick="scrollToSection('#interdisciplinary')">Interdisciplinary</button>
                            <button onclick="scrollToSection('#outside-design')">Outside Design</button>
                        </div> -->
                    </div>

                    <div class="head-container">
                        <h3>A <strong>Product designer</strong> who uses <strong>creative technology</strong> and
                            <strong>interdisciplinary thinking</strong> as tools to create meaningful experiences.
                        </h3>
                        <p class="label">Artistic Statement </p>

                        <p class="head-description">
                            For me, <a class="highlight">Product Design</a> is an interdisciplinary artwork. <a
                                class="highlight" href="#technology">Technology</a> forms the canvas that defines the
                            possibilities;
                            <a class="highlight" href="#art">Art</a> is the unique strokes; <a class="highlight"
                                href="#business">Business</a>,
                            <a class="highlight" href="#philosophy">Philosophy</a>, and <a class="highlight"
                                href="#game-mechanics">Game Mechanics</a> mix into
                            the palette that create experience and interactions that resonates.
                        </p>
                        <p class="head-description">
                            I pour love into every design, weaving together this colorful world.
                        </p>
                        <br>
                        <p class="label">Education </p>
                        <strong>New York University, Tisch School of the Arts (2024-2028)</strong>

                        <div class="education">
                            <p class="education-label">Major</p>
                            <p>Interactive Media Arts BFA</p>
                        </div>
                        <div class="education">
                            <p class="education-label">Minors </p>
                            <div class="education-minors">
                                <p>Game Design</p>
                                <p>Computer Science</p>
                                <p>Business of Entertainment, Media and Technology</p>
                            </div>
                        </div>

                        <br>
                        <p class="label">Experience </p>

                        <div class="experience-container">
                            <!-- <div class="experience-item"> -->
                                <p class="experience-item-title">X Academy</p>
                                <p class="experience-item-description">HCI Academic Lead</p>
                            <!-- </div> -->
                            <p class="experience-item-date">May-Aug2025</p>
                        </div>
                        <div class="experience-container">
                                <p class="experience-item-title">Frontend Developer</p>
                                <p class="experience-item-description">Freelance</p>
                            <p class="experience-item-date">May2025-Present</p>
                        </div>
                        <br>
                        <p class="label">Community</p>
                        <div class="experience-container">
                                <p class="experience-item-title">TechNYU</p>
                                <p class="experience-item-description">Dev Team's Developer & Designer</p>
                            <p class="experience-item-date">Sep2025-Present</p>
                        </div>
                        <div class="experience-container">
                                <p class="experience-item-title">NYU CSSA</p>
                                <p class="experience-item-description">Full-Stack Developer & Product Designer</p>
                            <p class="experience-item-date">May2025-Present</p>
                        </div>
                        <br>
                        <br>
                        <!-- <div class="head-social-icons">
                            <a href="https://www.linkedin.com/in/hanfei-carol-yu/" class="social-icon"
                                aria-label="LinkedIn">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
                                        fill="currentColor" />
                                </svg>
                            </a>
                            <a href="https://www.instagram.com/carollyuuu/" class="social-icon" aria-label="Instagram">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"
                                        fill="currentColor" />
                                </svg>
                            </a>
                        </div>

                        <a href="mailto:CAROL.YU@NYU.EDU" class="head-email">
                            <h1>CAROL.YU@NYU.EDU</h1>
                        </a> -->


                    </div>

                </section>

                <section class="skills-section" id="skills">
                    <h1>SKILLS</h1>
                    <div class="skill-container">
                        <div class="skill-category">
                            <!-- Programming -->
                            <h2 class="skill-label">Programming</h2>
                            <div class="skill-list">
                                <h3>Languages</h3>
                                <p>JavaScript, Java, Python, C#, C++, SQL</p>
                                <h3>Frameworks</h3>
                                <p>HTML/CSS, React.js, Next.js, SwiftUI, Unity, WeChat DevTools</p>

                                <h3>Tools</h3>
                                <p>Three.js, P5.js, Processing</p>
                                <h3>Other</h3>
                                <p>Github, Arduino, WordPress</p>
                            </div>
                        </div>

                        <div class="skill-category" id="design">
                            <h2 class="skill-label">Design</h2>
                            <div class="skill-list">
                                <h3>Design Tools</h3>
                                <p>Figma</p>
                                <h3>Adobe Suite</h3>
                                <p>After Effects, Premiere, Illustrator, Photoshop</p>

                                <h3>Modeling</h3>
                                <p>Blender, Fusion 360</p>
                            </div>
                        </div>

                        <div class="skill-category">
                            <h2 class="skill-label">Other</h2>
                            <div class="skill-list">
                                <h3>Languages</h3>
                                <p>Chinese (Native), English (Fluent)</p>
                                <h3>Hobbies</h3>
                                <p>Guitar, Music composition, Painting, Photography, 3D printing/laser cutting, Robotics
                                </p>

                                <h3>Soft Skills</h3>
                                <p>Teamwork, Communication, Leadership, Time Management</p>
                            </div>
                        </div>
                    </div>
                    <img src="/assets/images/main/lotus-leaf.svg" alt="skills">
                </section>



                <!-- <section class="more-about-section" id="outside-design">
                    <h1>Carol Outside Design</h1>
                    <div class="interests-container">
                        <div class="interest-item">
                            <h3>BAND</h3>
                            <p>Creating music with others, building harmonies and rhythms together.</p>
                            <div class="interest-images">
                                <img src="/assets/images/about/more/band1.jpeg" alt="Band">
                                <img src="/assets/images/about/more/band2.jpeg" alt="Band">
                                <img src="/assets/images/about/more/band3.jpeg" alt="Band">
                            </div>
                        </div>
                        <div class="interest-item">
                            <h3>JAZZ LOVER</h3>
                            <p>Immersed in the smooth sounds and improvisational spirit of jazz music.</p>
                            <div class="interest-images">
                                <img src="/assets/images/main/profile.jpeg" alt="Jazz Lover">
                                <img src="/assets/images/about/experience/xa1.jpeg" alt="Jazz Lover">
                            </div>
                        </div>
                        <div class="interest-item">
                            <h3>CITY WALKER</h3>
                            <p>Exploring urban landscapes, discovering hidden corners and stories on foot.</p>
                            <div class="interest-images">
                                <img src="/assets/images/main/profile.jpeg" alt="City Walker">
                                <img src="/assets/images/about/experience/xa1.jpeg" alt="City Walker">
                                <img src="/assets/images/about/experience/xa2.jpeg" alt="City Walker">
                            </div>
                        </div>
                        <div class="interest-item">
                            <h3>PHOTOGRAPHER</h3>
                            <p>Capturing moments and perspectives through the lens, telling stories visually.</p>
                            <div class="interest-images">
                                <img src="/assets/images/main/profile.jpeg" alt="Photographer">
                            </div>
                        </div>
                        <div class="interest-item">
                            <h3>ARTIST</h3>
                            <p>Expressing creativity through various mediums, from digital to traditional.</p>
                            <div class="interest-images">
                                <img src="/assets/images/about/experience/xa1.jpeg" alt="Artist">
                                <img src="/assets/images/about/experience/xa2.jpeg" alt="Artist">
                                <img src="/assets/images/about/experience/xa3.jpeg" alt="Artist">
                                <img src="/assets/images/main/profile.jpeg" alt="Artist">
                            </div>
                        </div>
                        <div class="interest-item">
                            <h3>OCEAN</h3>
                            <p>Drawn to the vastness and mystery of the ocean, finding peace in its rhythms.</p>
                            <div class="interest-images">
                                <img src="/assets/images/main/profile.jpeg" alt="Ocean">
                                <img src="/assets/images/about/experience/xa1.jpeg" alt="Ocean">
                            </div>
                        </div>
                        <div class="interest-item">
                            <h3>PHILOSOPHY ENTHUSIAST</h3>
                            <p>Exploring deep questions about life, meaning, and the nature of reality.</p>
                            <div class="interest-images">
                                <img src="/assets/images/about/experience/xa1.jpeg" alt="Philosophy Enthusiast">
                                <img src="/assets/images/about/experience/xa2.jpeg" alt="Philosophy Enthusiast">
                            </div>
                        </div>
                        <div class="interest-item">
                            <h3>HACKER</h3>
                            <p>Building and breaking things, solving problems with code and creativity.</p>
                            <div class="interest-images">
                                <img src="/assets/images/main/profile.jpeg" alt="Hacker">
                                <img src="/assets/images/about/experience/xa1.jpeg" alt="Hacker">
                                <img src="/assets/images/about/experience/xa2.jpeg" alt="Hacker">
                                <img src="/assets/images/about/experience/xa3.jpeg" alt="Hacker">
                                <img src="/assets/images/about/more/band1.jpeg" alt="Hacker">
                            </div>
                        </div>
                    </div>
                </section> -->
            </div>
        </div>
        <%- include('components/footer.ejs') %>
            <script src="/js/script.js"></script>
            <script src="/js/about.js"></script>
</body>

</html>