<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="icon" type="image/png" href="/assets/images/main/logo.svg">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/play.css">
</head>

<body>
    <%- include('components/header.ejs') %>
        <div class="main-content">
            <h1>Games</h1>
            <div class="play-container">
                <img class="play-item" src="/assets/images/play/PetUrFriends.png" alt="PetUrFriends">

                <img class="play-item" src="/assets/images/play/DreamOrDime.png" alt="DreamOrDime">
                <img class="play-item" src="/assets/images/play/InHistory.png" alt="InHistory">
                <img class="play-item" src="/assets/images/play/MusicLooper.png" alt="MusicLooper">
                <img class="play-item" src="/assets/images/play/NeoAssistant.png" alt="NeoAssistant">

                <img class="play-item" src="/assets/images/play/TheFalseTurn.png" alt="TheFalseTurn">
                <img class="play-item" src="/assets/images/play/EchoesOfOurStep.png" alt="EchoesOfOurStep">
                <img class="play-item" src="/assets/images/play/TheInvisibleLoop.png" alt="TheInvisibleLoop">
            </div>
        </div>
        <%- include('components/footer.ejs') %>

            <script src="/js/script.js"></script>
</body>

</html>