<!DOCTYPE html>
<html>

<head>
    <title>Carol Yu</title>
    <link rel="icon" type="image/png" href="/assets/images/main/logo.svg">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('components/header-index.ejs') %>
        <div class="main-content">

            <div id="hero" class="hero">
                <div class="hero-title-container">
                    <h1 class="hero-title">YU</h1>
                    <img class="hero-title-icon" src="/assets/icons/yu.svg" alt="yu">
                    <h1 class="hero-title">HF</h1>
                </div>
                <img class="hero-image" src="/assets/images/main/hero-image.png" alt="hero">

                <div class="parallax-leaves">
                    <div class="leaf leaf-1"></div>
                    <div class="leaf leaf-2"></div>
                    <div class="leaf leaf-3"></div>
                    <div class="leaf leaf-4"></div>
                    <div class="leaf leaf-5"></div>
                    <div class="leaf leaf-6"></div>
                    <img class="hero-fish-icon" src="/assets/images/main/fish.svg" alt="fish">
                </div>

                <h1 class="hero-title" style="margin-left: 20px;">CAROL</h1>

                <div class="hero-side">
                    <p class="hero-side-title">Hello :)</p>
                    <p class="hero-side-description">I’m Carol — a <strong>Product designer</strong> who uses
                        <strong>creative technology</strong> and <strong>interdisciplinary thinking</strong> as tools to
                        create meaningful experiences.
                    </p>
                </div>
            </div>

            <div class="content">
                <section class="projects-section" id="project">
                    <div class="content-header">
                        <h1>Selected Projects</h1>
                        <button onclick="window.location.href='/projects'" class="project-item-button"
                            id="leaf-decoration-button">All Projects</button>
                        <img class="leaf-decoration" src="/assets/images/main/lotus-leaf.svg" alt="">
                    </div>
                    <div class="projects-container">
                        <div class="projects-item-container">
                            <div class="projects-item" data-category="web-apps"
                                onclick="window.location.href='/projects/intertabs'">
                                <div class="projects-item-content">
                                    <h4>2025</h4>
                                    <h2 class="project-item-title">interTabs</h2>
                                    <h3>Product designer & Frontend Developer</h3>
                                    <p>An AI-powered Chrome Extension that manage tabs.</p>
                                </div>
                                <img src="/assets/images/covers/intertabs.png" alt="projects-item-1">
                            </div>
                            <!-- <p>2025</p> -->
                        </div>

                        <div class="projects-item" data-category="web-apps"
                            onclick="window.location.href='/projects/mbtiidealpartner'">
                            <div class="projects-item-content">
                                <h4>2025</h4>
                                <h2 class="project-item-title">MBTI Ideal Partner</h2>
                                <h3>Product designer & Full Stack Developer</h3>
                                <p>An interactive Wechat Mini Program that helps users find their ideal MBTI partner.</p>
                            </div>
                            <img src="/assets/images/covers/mbti.png" alt="projects-item-1">
                        </div>
                        <div class="projects-item" data-category="web-apps"
                        >
                            <div class="projects-item-content">
                                <span class="coming-soon-badge">Coming Soon</span>
                                <h4>2025</h4>
                                <h2 class="project-item-title">Palette U</h2>
                                <h3>Product designer & Full Stack Developer</h3>
                                <p>A website to record your memories and store them in your 3D memory palace.</p>
                            </div>
                            <img src="/assets/images/covers/paletteu.png" alt="projects-item-1">
                        </div>
                        <div class="projects-item" data-category="games"
                            >
                            <div class="projects-item-content">
                                <span class="coming-soon-badge">Coming Soon</span>
                                <h4>2025</h4>
                                <h2 class="project-item-title">Albert Plus</h2>
                                <h3>UIUX Designer & Developer</h3>
                                <p>The next-generation companion for NYU's Albert course registration system with better user experience and features.
                                </p>
                            </div>
                            <img src="/assets/images/covers/albertplus.png" alt="projects-item-1">
                        </div>
                        
                        <div class="projects-item" data-category="web-apps" onclick="window.location.href='https://globaldeltasecurities.com/'">
                            <div class="projects-item-content">
                                <h4>2025</h4>
                                <h2 class="project-item-title">Global Delta Securities</h2>
                                <h3>Frontend Developerer</h3>
                                <p>Set up the frontend for the website from scratch, using Next.js, for the Finance startup company.</p>
                            </div>
                            <img src="/assets/images/covers/gds.png" alt="projects-item-1">
                        </div>
                        <div class="projects-item" data-category="web-apps" onclick="window.location.href='https://sweetdreams4all.org/'">
                            <div class="projects-item-content">
                                <h4>2025</h4>
                                <h2 class="project-item-title">Sweet Dreams 4 All</h2>
                                <h3>Frontend Developer & Designer</h3>
                                <p>Developed the website from scratch using HTML, CSS, and JavaScript for the 501(c)(3) non-profit organization.</p>
                            </div>
                            <img src="/assets/images/covers/sweetdreams.png" alt="projects-item-1">
                        </div>
                    </div>
                </section>

                <!-- <section class="games-section" id="games" onclick="window.location.href='/games'">
                    <div class="content-header">
                        <h1>Games</h1>
                        <button onclick="window.location.href='/games'" class="project-item-button"
                            id="leaf-decoration-button">All Games</button>
                        <img class="leaf-decoration" src="/assets/images/main/lotus-leaf.svg" alt="">
                    </div>
                    <p>Exploring the intersection of art and technology through game design, programming, and user
                        interface development.
                    </p>

                    <img class="games-item-image" src="/assets/images/covers/intertabs.png" alt="project-item-1">
                </section> -->

                <section id="play" class="play-container">
                    <div class="content-header">
                        <h1>Playground</h1>
                        <button onclick="window.location.href='/play'" class="project-item-button">View More</button>
                        <img class="leaf-decoration" src="/assets/images/main/lotus-leaf.svg" alt="">

                    </div>

                    <div class="play-container">
                        <div class="play-item-wrapper" onclick="window.location.href='http://161.35.103.136/project1/'">
                            <video class="play-item" src="/assets/images/play/pixelMe.mov" alt="pixelMe" loop autoplay
                                muted playsinline></video>
                        </div>
                        <div class="play-item-wrapper swipe">

                            <video class="play-item" src="/assets/images/play/PetUrFriends.mov" alt="TheFalseTurn" loop
                                autoplay muted playsinline></video>
                        </div>
                        <div class="play-item-wrapper">
                            <img class="play-item" src="/assets/images/play/DreamOrDime.png" alt="DreamOrDime">
                        </div>
                        <div class="play-item-wrapper" onclick="window.location.href='https://youtu.be/e9QJO8i3q8s'">
                            <video class="play-item" src="/assets/images/play/InHistory.mov" alt="InHistory" loop
                                autoplay muted playsinline></video>
                        </div>
                        <div class="play-item-wrapper">
                            <img class="play-item" src="/assets/images/play/MusicLooper.png" alt="MusicLooper">
                        </div>
                        <div class="play-item-wrapper">
                            <img class="play-item" src="/assets/images/play/app4.jpg" alt="App">
                        </div>
                        <div class="play-item-wrapper">
                            <img class="play-item" src="/assets/images/play/NeoAssistant.png" alt="NeoAssistant">
                        </div>
                        <div class="play-item-wrapper">
                            <video class="play-item" src="/assets/images/play/TheFalseTurn.mov" alt="TheFalseTurn" loop
                                autoplay muted playsinline></video>
                        </div>
                        <div class="play-item-wrapper">
                            <img class="play-item" src="/assets/images/play/EchoesOfOurStep.png" alt="EchoesOfOurStep">
                        </div>
                        <div class="play-item-wrapper">
                            <video class="play-item" src="/assets/images/play/TheInvisibleLoop.mp4"
                                alt="TheInvisibleLoop" loop autoplay muted playsinline></video>
                        </div>
                        <div class="play-item-wrapper">
                            <img class="play-item" src="/assets/images/play/art2.png" alt="art2">
                        </div>
                    </div>

                </section>

                <section id="about" class="about-container">
                    <h1 id="about-title1">About Me</h1>

                    <div class="about-section">
                        <img class="about-item-image" src="/assets/images/main/profile.jpeg" alt="project-item-1">


                        <div class="about-item-content">
                            <h1 id="about-title2">About Me</h1>

                            <h3>I'm Carol - A <strong>Product designer</strong> who uses
                                <strong>creative technology</strong> and
                                <strong>interdisciplinary thinking</strong> as tools to create meaningful experiences.
                            </h3>

                            <p class="about-item-description">I’m a Sophomore at NYU majoring in Interactive Media Arts
                                at Tisch School of the Arts.
                                Minoring in Game Design, Computer Science, and the Business of Entertainment, Media and
                                Technology. Seeking a balance between engaging gameplay
                                interactions and clear, efficient user experiences to create immersive and enjoyable
                                designs.
                            </p>
                            <p class="about-item-description">
                                For me, design is a interdisciplinary art piece. Technology is the brush that expands
                                the possibilities of interaction; Art is the unique stroke; business, philosophy and
                                psychology form the color palette.
                            </p>
                            <p class="about-item-description">I pour love into every design, weaving together this
                                colorful world.</p>
                            
                            <!-- <div class="skills-section">
                                <h3>SKILLS</h3>

                                <div class="skill-category">
                                    <p class="skill-label">Programming:</p>
                                    <p class="skill-list">JavaScript, Java, Python, C#, HTML/CSS, C++, SQL, Github,
                                        Three.js, React.js, Next.js, Node.js, SwiftUI, Unity, Arduino, WordPress, WeChat
                                        DevTools</p>
                                </div>

                                <div class="skill-category">
                                    <p class="skill-label">Design:</p>
                                    <p class="skill-list">Figma, Adobe Suite (After
                                        Effects/Premiere/Illustrator/Photoshop), p5.js, Processing, Blender, Fusion 360
                                    </p>
                                </div>

                                <div class="skill-category">
                                    <p class="skill-label">Other:</p>
                                    <p class="skill-list">Chinese (Native), English (Fluent), Guitar, music composition,
                                        painting, photography, 3D printing/laser cutting, robotics</p>
                                </div>
                            </div> -->

                            <button onclick="window.location.href='/about'" class="about-item-button">More About
                                Me</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <%- include('components/footer.ejs') %>

            <!-- <h1>Hello World</h1> -->

            <script src="/js/script.js"></script>
            <script src="/js/index.js"></script>
</body>

</html>