<!DOCTYPE html>
<html>

<head>
    <title>Playground</title>
    <link rel="icon" type="image/png" href="/assets/images/main/logo.svg">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/play.css">
</head>

<body>
    <%- include('components/header.ejs') %>
        <div class="main-content">
            <h1>Playground</h1>
            <div class="play-container">
                <div class="play-item-wrapper" onclick="window.location.href='http://161.35.103.136/project1/'">
                    <video class="play-item" src="/assets/images/play/pixelMe.mov" alt="pixelMe" loop autoplay muted
                        playsinline></video>
                </div>

                <div class="play-item-wrapper swipe" onclick="window.location.href='https://chromewebstore.google.com/detail/pet-ur-friend/onddalpajmjpenfeoppfpcincflmbghb'">

                    <video class="play-item" src="/assets/images/play/PetUrFriends.mov" alt="TheFalseTurn" loop autoplay
                        muted playsinline></video>
                </div>
                <div class="play-item-wrapper">
                    <img class="play-item" src="/assets/images/play/app4.jpg" alt="App">
                </div>

                <div class="play-item-wrapper" onclick="window.location.href='https://youtu.be/auyys1KmkXU'">
                    <img class="play-item" src="/assets/images/play/DreamOrDime.png" alt="DreamOrDime">
                </div>
                <div class="play-item-wrapper" onclick="window.location.href='https://youtu.be/e9QJO8i3q8s'">
                    <video class="play-item" src="/assets/images/play/InHistory.mov" alt="InHistory" loop autoplay muted
                        playsinline></video>
                </div>
                <div class="play-item-wrapper" onclick="window.location.href='https://youtu.be/8lUBrATWSks'">
                    <video class="play-item" src="/assets/images/play/clock.mov" alt="Clock" loop autoplay muted
                        playsinline></video>
                </div>
                <div class="play-item-wrapper" onclick="window.location.href='https://youtu.be/Mgj6xAEFDHo'">
                    <video class="play-item" src="/assets/images/play/game_maze.mov" alt="Game Maze" loop autoplay muted
                        playsinline></video>
                </div>

                <div class="play-item-wrapper">
                    <video class="play-item" src="/assets/images/play/xa.mov" alt="xa" loop autoplay muted
                        playsinline></video>
                </div>
                <div class="play-item-wrapper swipe" onclick="window.location.href='https://youtu.be/Bqjvh_u7IWU'">
                    <img class="play-item" src="/assets/images/play/MusicLooper.png" alt="MusicLooper">
                </div>
                <div class="play-item-wrapper" onclick="window.location.href='https://youtu.be/2VhsPX2RgJA'">
                    <video class="play-item" src="/assets/images/play/zelda.mov" alt="Zelda" loop autoplay muted
                        playsinline></video>
                </div>
                <div class="play-item-wrapper">
                    <img class="play-item" src="/assets/images/play/NeoAssistant.png" alt="NeoAssistant">
                </div>
                <div class="play-item-wrapper">
                    <video class="play-item" src="/assets/images/play/TheFalseTurn.mov" alt="TheFalseTurn" loop autoplay
                        muted playsinline></video>
                </div>
                <div class="play-item-wrapper">
                    <img class="play-item" src="/assets/images/play/EchoesOfOurStep.png" alt="EchoesOfOurStep">
                </div>
                <div class="play-item-wrapper" onclick="window.location.href='https://youtu.be/AuA6fwoRjjc'">
                    <video class="play-item" src="/assets/images/play/TheInvisibleLoop.mp4" alt="TheInvisibleLoop" loop
                        autoplay muted playsinline></video>
                </div>

                <div class="play-item-wrapper">
                    <img class="play-item" src="/assets/images/play/modelMe.jpg" alt="EchoesOfOurStep">
                </div>
                <div class="play-item-wrapper">
                    <img class="play-item" src="/assets/images/play/modelMe2.jpg" alt="EchoesOfOurStep">
                </div>
                <div class="play-item-wrapper">
                    <img class="play-item" src="/assets/images/play/art2.png" alt="art2">
                </div>
            </div>
        </div>
        <%- include('components/footer.ejs') %>

            <script src="/js/script.js"></script>
            <script src="/js/play.js"></script>
</body>

</html>