<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interTabs</title>
    <link rel="icon" type="image/png" href="/assets/images/main/logo.svg">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/project.css">
</head>

<body>
    <%- include('../components/header.ejs') %>
        <img class="hero-image" src="/assets/images/projects/intertabs/cover2.png" alt="interTabs">

        <div class="content">
            <div class="project-header-container">
                <div class="project-header">
                    <h4 class="tag" style="background-color: #FFB0A3;">2025</h4>

                    <h1>interTabs</h1>
                    <h3>An AI-powered Chrome Extension that manage tabs.</h3>
                    <h3 style="color: #ff6952;" font-weight="bold">1st Place & Best UI/UX at HOF Hack 2025</h3>
                </div>
                <div class="button-container">
                    <button class="button" onclick="window.location.href='https://www.intertabs.com/'"
                        target="_blank">View
                        Official Website</button>
                    <!-- <button class="button"
                        onclick="window.location.href='https://chromewebstore.google.com/detail/intertabs/ggofillocibganndbabgcplbefnhadao'"
                        target="_blank">Get Extension</button>
                    <button class="button" onclick="window.location.href='https://devpost.com/software/intertabs'"
                        target="_blank">Devpost</button> -->
                </div>
            </div>

            <div class="key-info">
                <div class="key-info-item">
                    <h3>TIMELINE</h3>
                    <p>MAY 2025 - AUG 2025</p>
                </div>
                <div class="key-info-item">
                    <h3>TEAM</h3>
                    <p>4 members</p>
                </div>
                <div class="key-info-item">
                    <h3>ROLE</h3>
                    <p>Lead Designer & Frontend Developer</p>

                </div>
                <div class="key-info-item">
                    <h3>SKILLS</h3>
                    <p>Figma, HTML, CSS, JavaScript, Adobe After Effects</p>
                </div>
            </div>
            <!-- Overview -->
            <section>
                <h2>OVERVIEW</h2>
                <h3>Developed at the HOF Hack 2025 as a team of 4, winning the 1st Place, Best UI/UX, and Best Beginner
                    Hack. Later published to chrome web store and launched by
                    <a href="https://interfinity.tech/" target="_blank"
                        style="color: #ff6952; font-size: 18px; font-family: 'GajrajOne', sans-serif;">interfinity
                        Limited</a>.
                </h3>
                <div class="overview-container">

                    <div class="overview-card-container">


                        <p>Several of my accomplishments included:</p>
                        <div class="overview-card" style="background-color: #fff2f0;">
                            <div class="overview-card-title">
                                <h4>01</h4>
                                <h3>Design</h3>
                            </div>
                            <p>Designing the Visual and UIUX of the extension and website.
                            </p>
                        </div>
                        <div class="overview-card" style="background-color: #fff2f0;">
                            <div class="overview-card-title">
                                <h4>02</h4>
                                <h3> Frontend Dev</h3>
                            </div>
                            <p>Developing the front end of the landing page.
                            </p>
                        </div>
                        <div class="overview-card" style="background-color: #fff2f0;">
                            <div class="overview-card-title">
                                <h4>03</h4>
                                <h3>Marketing</h3>

                            </div>
                            <p>Participate in promotion and production of marketing materials, including product videos.
                            </p>
                        </div>
                        <div class="overview-card" style="background-color: #fff2f0;">
                            <div class="overview-card-title">
                                <h4>04</h4>
                                <h3>Design Research</h3>
                            </div>
                            <p>Conducted design research to understand the user needs and pain points, and conceptualize
                                solutions.
                            </p>
                        </div>
                    </div>
                    <div class="overview-image-container"
                        onclick="window.open('https://devpost.com/software/intertabs', '_blank')">
                        <img class="overview-image" src="/assets/images/projects/intertabs/hofHack.png" alt="overview">
                    </div>
                </div>

            </section>
            <!-- Problem statement -->
            <div class="problem-statement-container">
                <div class="problem-statement" style="background-color: #FFB0A3;">
                    <h3>How can we help browser users to manage tabs more efficiently?</h3>
                    <p><b>Target Audience:</b> <span style="margin-left: 10px;">Students, teachers, office workers,
                            researhcers, any browser user.</span></p>
                </div>
            </div>

            <!-- Problem research -->
            <section>

                <h2>PROBLEMS</h2>
                <h3>I interviewed 20+ browser users from different fields and age groups to understand their experience
                    and needs. Noticing the problem is interrelated and causing a bad cycle. Concluding the following
                    pain points:</h3>
                <div class="problem-research-container">

                    <div class="problem-research-item-container">
                        <div class="problem-research-item" style="border-left: 4px solid #ff6952;">
                            <h3>Can't find the tab</h3>
                            <p>"The biggest problem is that there are too many tabs in the window and i can't find the
                                one i
                                need."</p>
                        </div>

                        <div class="problem-research-item" style="border-left: 4px solid #ff6952;">
                            <h3>Don't want to close tabs because it is hard to refind or reopen a website</h3>
                            <p>"Many times, tabs need to be reused for certain project or certain class, so we don't
                                want to close it. But things just lay up. "</p>
                        </div>
                        <div class="problem-research-item" style="border-left: 4px solid #ff6952;">
                            <h3>Slowing down the browsing process</h3>
                            <p>"There are so many tabs open, slowing down both me and the computer."</p>
                        </div>
                    </div>
                    <div class="problem-research-image-container">
                        <img src="/assets/images/projects/intertabs/problem.png" alt="problem">
                    </div>
                </div>

            </section>
            <!-- Market Research -->
            <section>
                <h2>MARKET RESEARCH</h2>
                <h3>
                    I researched on the existing tab managing chrome extensions and found that none can sort tabs in a
                    convenient and smart way.
                </h3>
                <img class="project-wide-image" src="/assets/images/projects/intertabs/research1.png"
                    alt="design research" style="background-color: #f8f8f8;">
            </section>
            <div class="problem-statement-container">
                <div class="problem-statement" style="background-color: #FFB0A3;">
                    <h3><b style="margin-right: 10px;">Conclusion:</b> Create a clear and simple tool that helps users
                        manage tabs by customizing to groups according to their needs.</h3>
                </div>
            </div>

            <!-- Visual Design -->
            <section>
                <h2>VISUAL DESIGN</h2>
                <img class="content-wide" src="/assets/images/projects/intertabs/logodesign.png" alt="visual design">

                <div class="visual-design-container">
                    <img src="/assets/images/projects/intertabs/color_l.png" alt="visual design">
                    <img src="/assets/images/projects/intertabs/color_d.png" alt="visual design">

                    <img src="/assets/images/projects/intertabs/intertabs_l.jpg" alt="visual design">
                    <img src="/assets/images/projects/intertabs/intertabs_d.jpg" alt="visual design">
                </div>
            </section>
            <!-- Features -->
            <section id="features">
                <h2>FEATURES</h2>
                <!-- <p>Developed an AI-powered Chrome Extension that manage tabs and use OpenAI API to auto-generate and reorganize tab groups.</p> -->
                <div class="features-container-wrapper">
                    <div class="features-container">
                        <div class="feature-item" id="feature2">
                            <img src="/assets/images/projects/intertabs/feature2.png" alt="overview">
                        </div>
                        <div class="feature-description">
                            <h3>Save Tabs as Sessions </h3>
                            <p>Save your tabs as a Session you can reopen anytime. Create separate Sessions for
                                different tasks to keep your workflow organized. </p>
                        </div>
                    </div>

                    <div class="features-container">

                        <div class="feature-item" id="feature4">
                            <img src="/assets/images/projects/intertabs/feature4.png" alt="overview">
                        </div>
                        <div class="feature-description">
                            <h3>Smart Labeling </h3>
                            <p>Automatically label your Sessions based on their content. AI suggests names for tab
                                groups based on their content, and automatically label them—you can edit them anytime.
                            </p>
                        </div>
                    </div>
                    <div class="features-container">

                        <div class="feature-item" id="feature5">
                            <img src="/assets/images/projects/intertabs/feature5.png" alt="overview">
                        </div>
                        <div class="feature-description">
                            <h3>Start New Sessions with AI </h3>
                            <p>If the user has a window that have large amount of tabs, interTabs will use AI to sort
                                the tabs into oganized sections for the user.</p>
                        </div>
                    </div>
                    <div class="features-container">
                        <div class="feature-item" id="feature6">
                            <img src="/assets/images/projects/intertabs/feature6.png" alt="overview">
                        </div>

                        <div class="feature-description">
                            <h3>One-click Organize </h3>
                            <p>Have countless tabs open? Intelligently organize them into Sessions with one click.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- video -->
            <section>
                <h2>Final Demo</h2>
                <iframe 
                  src="https://www.youtube.com/embed/2bHR0zIa2yA" 
                  title="YouTube video player" 
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
                </iframe>
              </section>
              

            <section class="next-project-section">
                <h1 style="font-size: 24px;">Other Projects</h1>
                <div class="next-projects-container">
                    <div class="next-project-card" onclick="window.location.href='/projects/mbtiidealpartner'">
                        <div class="next-project-image">
                            <img src="/assets/images/covers/mbti.png" alt="MBTI Ideal Partner">
                        </div>
                        <div class="next-project-content">
                            <h2>MBTI Ideal Partner</h2>
                            <p>Discover your ideal partner based on MBTI personality types.</p>
                        </div>
                    </div>
                    <div class="next-project-card">
                        <div class="next-project-image">
                            <img src="/assets/images/covers/paletteu.png" alt="Palette U">
                        </div>
                        <div class="next-project-content">
                            <h2>Palette U</h2>
                            <p>Created a color palette generator that allows users to generate color palettes based on
                                their preferences.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <%- include('../components/footer.ejs') %>

            <script src="/js/script.js"></script>
</body>

</html>