<!DOCTYPE html>
<html>

<head>
    <title>Palette U - CAROL YU</title>
    <link rel="icon" type="image/png" href="/assets/images/main/logo.svg">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/project.css">
</head>

<body>
    <%- include('../components/header.ejs') %>
    <div class="main-content">
        <div class="content">
            <section class="work-container">
                <div class="content-header center-width">
                    <button onclick="window.location.href='/projects'" class="work-item-button">← Back to Projects</button>
                </div>

                <section class="work-item">
                    <div class="work-item-container">
                        <h4>2025</h4>
                        <h2 class="work-item-title">Palette U</h2>
                        <h3>Product designer & Frontend Developer</h3>
                        <p>Created a color palette generator that allows users to generate color palettes based on their
                            preferences.</p>
                        <img class="work-item-image" src="/assets/images/covers/intertabs.png" alt="Palette U">
                    </div>
                    <div class="work-item-side">
                        <p>HTML / CSS</p>
                        <p>JavaScript</p>
                        <p>Figma</p>
                        <p>Adobe After Effects</p>
                    </div>
                </section>
            </section>
        </div>
    </div>

    <%- include('../components/footer.ejs') %>

    <script src="/js/script.js"></script>
</body>

</html>

